:root {
  --background-main: #fff;
  --background-additional: #2f303a;
  --background-rare: #f5f4fa;
  --background-minor: #2196f3;
  --background-gradient: rgba(47, 48, 58, 0.4);
  --color-main: #757575;
  --color-secondary: #212121;
  --color-additional: #fff;
  --color-minor: rgba(255, 255, 255, 0.6);
  --color-logo: #2196f3;
  --color-logodark: #000;
  --color-hover: #2196f3;
  --color-line: #ececec;
  --color-project-card: #eeeeee;
  --color-icon: #afb1b8;
  --background-hiro-button: #188ce8;
  --font-weight-main: 700;
  --font-weight-additional: 500;
  --font-weight-footer: 400;
  --font-size-main: 16px;
  --font-size-additional: 14px;
  --font-size-rare: 36px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--color-main);
  background-color: var(--background-main);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.current {
  color: var(--color-hover);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  font-weight: var(--font-weight-additional);
  font-size: var(--font-size-additional);
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--color-line);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-logo);
}

.logo-dark {
  color: var(--color-logodark);
}

.logo-light {
  color: var(--color-additional);
}

.logo:focus {
  outline: none;
}

.pagination-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.pagination-link {
  display: block;
  color: var(--color-secondary);
  padding: 32px 0;
}

.contacts-list {
  display: flex;
  align-items: center;
}

.contacts-item {
  display: flex;
  align-items: center;
  fill: var(--color-main);
  cursor: pointer;
}

.contacts-item:first-child {
  padding-right: 30px;
}

.contacts-item:hover {
  fill: var(--color-hover);
}

.contacts-link {
  color: var(--color-main);
  padding: 32px 0;
  margin-left: 10px;
}

.pagination-link:hover,
.pagination-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-hover);
  outline: none;
}

.section {
  padding: 94px 0;
}

.hero {
  background-color: var(--background-additional);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--background-gradient),
      var(--background-gradient)
    ),
    url("../images/heroimg.jpg");
  background-position: center;
  padding: 200px 0;
}

.hero-title {
  width: 696px;
  color: var(--color-additional);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
}

.hero-button {
  color: var(--color-additional);
  background-color: var(--background-minor);
  font-family: inherit;
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-main);
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--background-hiro-button);
  outline: none;
}

.peculiarities-list {
  display: flex;
  gap: 30px;
}

.peculiarities-item {
  width: 270px;
}

.peculiarities-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-rare);
}

.peculiarities-subtitle {
  color: var(--color-secondary);
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-additional);
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.peculiarities-text {
  font-size: var(--font-size-additional);
  line-height: 1.71;
}

.performance {
  padding-top: 0;
}

.performance-title {
  color: var(--color-secondary);
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-rare);
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.performance-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.team {
  background-color: var(--background-rare);
  text-align: center;
}

.team-title {
  color: var(--color-secondary);
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-rare);
  line-height: 1.17;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--background-main);
  font-size: var(--font-size-main);
  line-height: 1.19;
  text-transform: capitalize;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-subtitle {
  color: var(--color-secondary);
  font-weight: var(--font-weight-additional);
  margin-bottom: 10px;
}

.ui {
  text-transform: uppercase;
}

.team-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.team-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--color-icon);
  background-color: var(--background-main);
  border-radius: 50%;
}

.team-icon-link:hover,
.team-icon-link:focus {
  fill: var(--color-additional);
  background-color: var(--background-minor);
  outline: none;
}

.clients-title {
  color: var(--color-secondary);
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-rare);
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: var(--color-icon);
  border: 1px solid var(--color-icon);
  border-radius: 4px;
}

.clients-link:hover,
.clients:focus {
  fill: var(--color-hover);
  border: 1px solid var(--color-hover);
}

.page-footer {
  background-color: var(--background-additional);
  padding: 60px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.info {
  font-style: normal;
  font-weight: var(--font-weight-footer);
  font-size: var(--font-size-additional);
  line-height: 1.71;
  margin-top: 20px;
}

.adds-link {
  color: var(--color-additional);
}

.adds-link:focus {
  outline: none;
}

.info-link {
  color: var(--color-minor);
}

.info-link:hover,
.info-link:focus {
  color: var(--color-hover);
  outline: none;
}

.info-item:not(:last-child) {
  margin-bottom: 8px;
}

.social {
  padding-right: 663px;
}

.social-titel {
  color: var(--color-additional);
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-additional);
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--color-additional);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--background-minor);
  outline: none;
}

.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 56px;
}

.filters-button:first-child {
  padding: 6px 25px;
}

.filters-button:not(:first-child) {
  padding: 6px 22px;
}

.filters-button {
  color: var(--color-secondary);
  background-color: var(--background-rare);
  font-family: inherit;
  font-weight: var(--font-weight-additional);
  font-size: var(--font-size-main);
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--background-minor);
  color: var(--color-additional);
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card {
  border: 1px solid var(--color-project-card);
  border-top: none;
  padding: 20px 24px;
}

.project-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:focus {
  outline: none;
}

.project-title {
  color: var(--color-secondary);
  font-weight: var(--font-weight-main);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  margin-bottom: 4px;
}

.vs,
.has-no {
  text-transform: none;
}

.lab {
  text-transform: uppercase;
}

.project-text {
  color: var(--color-main);
  font-size: var(--font-size-main);
  line-height: 1.88;
}
