:root {
  --background-main: #fff;
  --background-additional: #2f303a;
  --background-rare: #f5f4fa;
  --background-minor: #2196f3;
  --color-main: #757575;
  --color-secondary: #212121;
  --color-additional: #fff;
  --color-minor: #fff 60%;
  --color-logo: #2196f3;
  --color-logodark: #000;
  --color-hover: #2196f3;
  --color-line: #ececec;
  --background-hiro-button: #188ce8;
  --font-weight-main: 700;
  --font-weight-additional: 500;
  --font-weight-footer: 400;
  --font-size-main: 16px;
  --font-size-additional: 14px;
  --font-size-rare: 36px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--color-main);
  background-color: var(--background-main);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  font-weight: var(--font-weight-additional);
  font-size: var(--font-size-additional);
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--color-line);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 93px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-logo);
}

.logo-dark {
  color: var(--color-logodark);
}

.logo-light {
  color: var(--color-additional);
}

.logo:focus {
  outline: none;
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 32px 0;
}

.pagination-link {
  color: var(--color-secondary);
}

.contacts-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 32px 0;
}

.contacts-link {
  color: var(--color-main);
}

.pagination-link:hover,
.contacts-link:hover,
.pagination-link:focus,
.contacts-link:focus {
  color: var(--color-hover);
  outline: none;
}

.current {
  color: var(--color-hover);
}

.section {
  padding: 94px 0;
}

.hero {
  background-color: var(--background-additional);
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 106px 0;
}

.hero-title {
  width: 100%;
  max-width: 696px;
  color: var(--color-additional);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--color-additional);
  background-color: var(--background-minor);
  font-family: inherit;
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-main);
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--background-hiro-button);
  outline: none;
}

.peculiarities-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.peculiarities-subtitle {
  color: var(--color-secondary);
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-additional);
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.peculiarities-text {
  font-size: var(--font-size-additional);
  line-height: 1.71;
}

.performance {
  padding-top: 0;
}

.performance-title {
  color: var(--color-secondary);
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-rare);
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.performance-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.team {
  background-color: var(--background-rare);
  text-align: center;
}

.team-title {
  color: var(--color-secondary);
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-rare);
  line-height: 1.17;
  margin-bottom: 50px;
}

.team-list {
  display: inline-flex;
  justify-content: center;
  gap: 30px;
}

.team-item {
  background-color: var(--background-main);
  font-size: var(--font-size-main);
  line-height: 1.19;
  text-transform: capitalize;
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  color: var(--color-secondary);
  font-weight: var(--font-weight-additional);
  margin: 30px 0 10px;
}

.team-text {
  padding-bottom: 30px;
}

.ui {
  text-transform: uppercase;
}

.page-footer {
  background-color: var(--background-additional);
}

.footer-container {
  padding: 60px 0;
}

.info {
  font-style: normal;
  font-weight: var(--font-weight-footer);
  font-size: var(--font-size-additional);
  line-height: 1.71;
  margin-top: 20px;
}

.adds-link {
  color: var(--color-additional);
}

.adds-link:focus {
  outline: none;
}

.info-link {
  color: var(--color-minor);
}

.info-link:hover,
.info-link:focus {
  color: var(--color-hover);
  outline: none;
}

.info-item:not(:last-child) {
  margin-bottom: 8px;
}

.filters-button {
  color: var(--color-secondary);
  background-color: var(--background-rare);
  font-family: inherit;
  font-weight: var(--font-weight-additional);
  font-size: var(--font-size-main);
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--background-minor);
  color: var(--color-additional);
  outline: none;
}

.project-link:focus {
  outline: none;
}

.project-title {
  color: var(--color-secondary);
  font-weight: var(--font-weight-main);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: capitalize;
}

.vs,
.has-no {
  text-transform: none;
}

.lab {
  text-transform: uppercase;
}

.project-text {
  color: var(--color-main);
  font-size: var(--font-size-main);
  line-height: 1.88;
}
