:root {
    --background-main: #fff;
    --background-additional: #2f303a;
    --background-rare: #f5f4fa;
    --background-minor: #2196f3;
    --background-gradient: rgba(47, 48, 58, 0.4);
    --background-performance: rgba(47, 48, 58, 0.8);
    --background-overlay: rgba(33, 150, 243, 0.9);
    --background-backdrop: rgba(0, 0, 0, 0.2);
    --background-social: rgba(255, 255, 255, 0.1);
    --color-subs-input: rgba(255, 255, 255, 0.3);
    --color-main: #757575;
    --color-secondary: #212121;
    --color-additional: #fff;
    --color-minor: rgba(255, 255, 255, 0.6);
    --color-logo: #2196f3;
    --color-logodark: #000;
    --color-hover: #2196f3;
    --color-line: #ececec;
    --color-project-card: #eeeeee;
    --color-icon: #afb1b8;
    --background-hiro-button: #188ce8;
    --font-weight-main: 700;
    --font-weight-additional: 500;
    --font-weight-footer: 400;
    --font-size-main: 16px;
    --font-size-additional: 14px;
    --font-size-rare: 36px;
    --font-size-minor: 18px;
$letter-spacing:(
    'rare': 0.01em,
    'minor': 0.02em,
    'main': 0.03em,
    'additional': 0.06em,
);
    $cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    $time: 250ms;