.clients {
    @extend %section;

    &__title {
      @extend %main-title;
     text-align: center;
     margin-bottom: 50px;
    }

    &__list {
        @include display5 (center, center, 30px);
    }

    &__link {
    @include display2 (flex, center, center);
      width: 170px;
     height: 92px;
     fill: map-get($color, 'icon');
     border: 1px solid map-get($color, 'icon');
     border-radius: map-get($border-radius, 'main');
      transition: fill var(--time) var(--cubic-bezier),
          border var(--time) var(--cubic-bezier);
       &:hover,
       &:focus {
           fill: map-get($color, 'hover');
           outline: none;
           border: 1px solid map-get($color, 'hover');
       }
    }
}

@import '../../utils/mixins'