.hero {
    @extend %section;
    @extend %container;
    background-color: map-get($background-color, 'additional');
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            map-get($background-color, 'gradient'),
            map-get($background-color, 'gradient')),
        url("../images/heroimg.jpg");
    background-position: center;
    padding: 200px 0;

    &__title {
            width: 696px;
            color: map-get($color, 'additional');
            @include font1 (map-get($font-weight, 'rare'), map-get($font-size, 'hero-title'), map-get($line-height, 'hero-title'), map-get($letter-spacing, 'additional'));
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto 30px;
        }

        &__button {
            @extend %main-button;
            display: block;
            margin: 0 auto;

            &:hover,
            &:focus {
                background-color: map-get($background-color, 'button-hover');
                outline: none;
            }
        }
}

@import '../../utils/mixins'

