.peculiarities {
    @extend %section;
    @extend %container;

    &__list {
        @include display3 (30px);
    }

    &__item {
        width: 270px;
    }

    &__icon {   
        @include display2 (flex, center, center);
        height: 120px;
        border-radius: map-get($border-radius, 'main');
        background-color: map-get($background-color, 'rare');
    }

    &__subtitle {
        @extend %subtitle;
        margin-top: 30px;
        margin-bottom: 10px;
        color: map-get($color, 'secondary');
    }

    &__text {   
        @include font3 (map-get($font-size, 'additional'), map-get($line-height, 'rare'));
    }
}


@import '../../utils/mixins'