.team {
    @extend %section;
    background-color: map-get($background-color, 'rare');
    text-align: center;

    &__title {
        @extend %main-title;
        margin-bottom: 50px;
    }

    &__list {
        @include display3 (30px);
    }

    &__item {
        background-color: map-get($background-color, 'main');
        @include font3 (map-get($font-size, 'main'), map-get($line-height, 'minor'));
        text-transform: capitalize;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
           0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: map-get($border-radius, 'team');
    }

    &__content {
        padding: 30px 0;
    }

    &__subtitle {
        color: map-get($color, 'secondary');
        font-weight: map-get($font-weight, 'additional');
        margin-bottom: 10px;
    }

    &__text {    
        margin-bottom: 16px;


    &--big {
        text-transform: uppercase;
    }
    }

    &__list-icon {   
        @include display5 (center, center, 10px);
    }

    &__link-icon { 
        @extend %social-network;
        fill: map-get($color, 'icon');
        background-color: map-get($background-color, 'main');
        transition: fill var(--time) var(--cubic-bezier),
            background-color var(--time) var(--cubic-bezier);

        &:hover,
        &:focus {
            fill: map-get($color, 'additional');
            background-color: map-get($background-color, 'hover');
            outline: none;
        }
    }
}

@import '../../utils/mixins'
