.logo {
    font-family: "Raleway", sans-serif;
    @include font2 (map-get($font-weight, 'secondary'), map-get($font-size, 'logo'), map-get($line-height, 'minor'));
    color: map-get($color, 'hover');

    &--dark {
            color: map-get($color, 'logo-dark');
        }
    
    &--light {
        color: map-get($color, 'additional');
    }

    &:focus {
        outline: none;
    }

}

@import '../utils/mixins'

