.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: map-get($background-color, 'main');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: map-get($border-radius, 'main');
    transition: transform var(--time) var(--cubic-bezier);
    padding: 40px;


    &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    @include display1 (center);
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: map-get($border-radius, 'additional');
    background-color: map-get($background-color, 'main');
    cursor: pointer;
    outline: none;
    transition: fill var(--time) var(--cubic-bezier);

        &:hover,
        &:focus {
        fill: map-get($color, 'hover');
    }
    }



    &__titel {
    color: map-get($color, 'secondary');
    @include font2 (map-get($font-weight, 'secondary'), map-get($font-size, 'modal-title'), map-get($line-height, 'modal-title'));
    text-align: center;
    margin-bottom: 12px;
    }

    &__form {
    position: relative;
    }

    &__entry-field {
    position: relative;
    color: map-get($color, 'main');
    @include font4 (map-get($font-size, 'entry-field'), map-get($letter-spacing, 'rare'));
    fill: map-get($color, 'secondary');
    }

    &__input {
    width: 100%;
    border: 1px solid map-get($color, 'border-input');
    border-radius: map-get($border-radius, 'main');
    margin-top: 4px;
    cursor: pointer;
    transition: border-color var(--time) var(--cubic-bezier);
    }

    &__input-person {
    height: 40px;
    padding: 11px 12px 11px 35px;
    margin-bottom: 10px;

    &:focus {
            border-color: map-get($color, 'hover');
            outline: none;
        }
    }

    &__input-comment {
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;

    &:focus {
            border-color: map-get($color, 'hover');
            outline: none;
        }
    }

    &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-25%);
    transition: fill var(--time) var(--cubic-bezier);
    }

    &__entry-field:focus-within &__icon {
    fill: map-get($color, 'hover');
    }

    &__agree {
    position: relative;
    padding: 0 20px 0 37px;
    }

    &__agree-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    }

    &__agree-check {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: flex;
    width: 16px;
    height: 15px;
    border: 2px solid map-get($color, 'secondary');
    border-radius: map-get($border-radius, 'rare');
    fill: none;
    transition: border-color var(--time) var(--cubic-bezier);
    }

    &__agree-input:checked+&__agree-check {
    fill: map-get($color, 'additional');
    background-color: map-get($background-color, 'hover');
    border: none;
    }

    &__agree-input:focus+&__agree-check {
    border-color: map-get($color, 'hover');
    }

    &__agree-label {
    @include display4 (space-between);
    @include font3 (map-get($font-size, 'additional'), map-get($line-height, 'rare'));
    cursor: pointer;
    }

    &__agree-link {
    color: map-get($color, 'hover');
    text-decoration: underline;
    outline: none;
    }

    &__send-button {
    @extend %main-button;
    display: block;
    margin: 30px auto 0;
    transition: background-color var(--time) var(--cubic-bezier);
   
    &:hover,
    &:focus {
        background-color: map-get($background-color, 'button-hover');
        outline: none;
    }
    }
}

@import '../utils/mixins'