body {
    font-family: "Roboto", sans-serif;
    font-weight: var(--font-weight-footer);
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--color-main);
    background-color: var(--background-main);
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}