body {
    font-family: "Roboto", sans-serif;
    font-weight: map-get($font-weight, 'main');
    font-style: normal;
    letter-spacing: map-get($letter-spacing, 'main');
    color: map-get($color, 'main');
    background-color: map-get($background-color, 'main');
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}