.contacts {
    @include display1 (center);

    &__item:first-child {
        padding-right: 30px;
    }

    &__link {
        @include display1 (center);
        color: map-get($color, 'main');
        fill: currentColor;
        padding: 32px 0;
        transition: color var(--time) var(--cubic-bezier);
    
        &:hover,
        &:focus {
             color: map-get($color, 'hover');
             outline: none;
        }
    }

    &__icon {
         margin-right: 10px;
    }

}