.address {
    font-style: normal;
    @include font2 (map-get($font-weight, 'main'), map-get($font-size, 'additional'), map-get($line-height, 'rare'));
    margin-top: 20px;

    &__adds-link {
    color: map-get($color, 'additional');

    &:focus {
        outline: none;
    }
    }

    &__contacts-link {
        color: map-get($color, 'minor');
        transition: color var(--time) var(--cubic-bezier);

        &:hover,
        &:focus {
            color: map-get($color, 'hover');
            outline: none;
        }
    }

    &__item:not(:last-child) {
    margin-bottom: 8px;
    }

}

@import '../../utils/mixins';