.page-footer {
    background-color: map-get($background-color, 'additional');
    padding: 60px 0;

&__container {
    @include display2 (flex, space-between, baseline);
}

&__info {
    @include display1 (baseline);
}

&__logo-address {
    margin-right: 70px;
}

}

@import '../logo';
@import './address';
@import './social';
@import './subscription';
@import '../../utils/mixins';
