.social {
    &__title {
        color: map-get($color, 'additional');
        @extend %subtitle;
        margin-bottom: 20px;
    }

    &__list {
        @include display3 (10px);
    }

    &__link {
        @extend %social-network;
        fill: map-get($color, 'additional');
        background-color: map-get($background-color, 'social');
        transition: background-color var(--time) var(--cubic-bezier);

        &:hover,
        &:focus {
            background-color: map-get($background-color, 'hover');
            outline: none;
        }
    }
}

@import '../../utils/mixins';