.subscription {
    display: inline-block;
    
    &__title {
            color: var(--color-additional);
            @extend %subtitle;
            margin-bottom: 20px;
        }

    &__subs-input {
    width: 358px;
    height: 50px;
    border: 1px solid var(--color-subs-input);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    padding: 0px 0px 0px 16px;
    background-color: var(--background-additional);
    color: var(--color-minor);
    font-size: var(--font-size-main);
    line-height: 1.25;
    outline: none;
    transition: border-color var(--time) var(--cubic-bezier);

    &:hover,
    &:focus {
        border-color: var(--color-minor);
    }
    }

    &__subs-button {
    @extend %main-button;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
        background-color: var(--background-hiro-button);
        outline: none;
    }
    }

    &__icon-send {
    fill: currentColor;
    margin-left: 10px;
    }
}