.subscription {
    display: inline-block;
    
    &__title {
            color: map-get($color, 'additional');
            @extend %subtitle;
            margin-bottom: 20px;
        }

    &__subs-input {
    width: 358px;
    height: 50px;
    border: 1px solid map-get($color, 'subs-input');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: map-get($border-radius, 'main');
    margin-right: 12px;
    padding: 0px 0px 0px 16px;
    background-color: map-get($background-color, 'additional');
    color: map-get($color, 'minor');
    @include font3 (map-get($font-size, 'main'), map-get($line-height, 'subs-input'));
    outline: none;
    transition: border-color var(--time) var(--cubic-bezier);

    &:hover,
    &:focus {
        border-color: map-get($color, 'minor');
    }
    }

    &__subs-button {
    @extend %main-button;
    @include display2 (inline-flex, center, center);
    
    &:hover,
    &:focus {
        background-color: map-get($background-color, 'button-hover');
        outline: none;
    }
    }

    &__icon-send {
    fill: currentColor;
    margin-left: 10px;
    }
}

@import '../../utils/mixins';